

body {
    background-color: azure;
    font-weight: 700;
}
.d-inline-flex {
    display: inline-flex !important;
    gap: 10px;
    align-items: end;
}
.row__header {
    font-family: "Lato" !important;
    position: relative;
    margin: 10px;
    background-color: transparent !important;
    width: 100%;
    height: auto;
    min-height: auto !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}
.chart-card[data-format*="type1"] {
    font-family: 'Lato';
    position: relative;
    margin: 10px;
    background-color: #f0f0f0;
    width: 100%;
    max-width: 370px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


    .chart-card__header {
        overflow: hidden;
        margin-top: 0;
        width: 100%;
        height: auto;
        position: relative;
        min-height: 100px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 15px;
        background-color: #a1a1a1;
        transition: 0.5s all ease-out;

        .chart-card__header__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 15px;
            height: 50px;
            color: white;

            h3 {
                margin: 0;
                margin-bottom: auto;
                font-size: 20px;
                font-weight: 700;
                text-align: left;
            }
            button {
                background-color: white;
                border-radius: 10px;
                color: black;
                padding: 2px 10px;
                font-size: 11px;
                font-weight: 400;
                outline: none;
                border: 0;

                & a {
                    color: black;
                    text-decoration: none;
                }

                &:hover {
                    background-color: #e2e2e2;
                }
            }
        }

        .chart-card__header__round {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            color: white;

            span {
                color: white;
                font-size: 19px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }


    .chart-card__content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & .content__row:nth-child(1) {
            margin-top: 10px;
        } 

        & .content__row:last-child {
            margin-bottom: 10px;
        } 
        
        & .content__row {
            margin: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            font-size: 14px;

            & .text {
                width: 60%;
                font-weight: 400;
                text-align: left;
                padding: 0px 10px 0 20px;
            }


            & .bar {
                width: 30%;
                text-align: right;
                position: relative;

                & .bar__background {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 4px;
                    background-color: #ffffff;

                    & .bar__content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 4px;
                        width: 0;
                        transition: all 1s ease-out;
                    }
                    
                }
            }

            & .perc {
                width: 20%;
                margin-right: 10px;
                text-align: right;
            }
        }
    }

    .chart-card__footer {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin: 0px 10px 20px 10px;
        border-top: grey dashed 1px;

        & button {
            background-color: green; 
            outline: 0;
            border: 0;
            border-radius: 20px;
            color: white;
            font-size: 12px;
            padding: 6px 15px;

            &:hover {
                background-color: rgb(0, 175, 0);
            }
        }
    }
}

.chart-card[data-format*="type3"] {
    font-family: 'Lato';
    position: relative;
    margin: 10px;
    background-color: transparent;
    width: 100%;
    max-width: 370px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


    .chart-card__header {
        overflow: hidden;
        margin-top: 0;
        width: 100%;
        min-height: 40px;
        position: relative;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: yellowgreen;
        transition: 0.5s all ease-out;
        margin-bottom: 10px;

        .chart-card__header__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 15px;
            color: white;

            h3 {
                margin: 0;
                margin-bottom: auto;
                font-size: 20px;
                font-weight: 700;
                text-align: left;
            }
           
        }

    }


    .chart-card__content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & .content__row:nth-child(1) {
            margin-top: 10px;
        } 

        & .content__row:last-child {
            margin-bottom: 10px;
        } 
        
        & .content__row {
            
            display: flex;
            background-color: #f3f3f3;
            border: #78829b 1px solid;
            border-radius: 10px;
            padding: 10px 20px;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            font-size: 14px;

            & .text {
                font-weight: 700;
                font-size: 32px;
                text-align: left;
                padding: 0px;
            }
            & .subtitle {
                font-weight: 400;
                text-align: left;
                padding: 0px 10px 0 20px;
            }
        }
    }

    .chart-card__footer {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin: 5px 0px;

        & button {
            background-color: transparent;
            outline: 0;
            border: 1px solid blueviolet;
            width: 100%;
            margin-top: 15px;
            border-radius: 15px;
            color: black;
            font-size: 18px;
            padding: 6px 15px;

            &:hover {
                background-color: green;
            }
        }
    }
}

button:disabled {
    pointer-events: none;
    opacity: 0.3;
}

.loading {
    .chart-card__header::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        animation: 1s loading-pulse alternate;
        animation-iteration-count: infinite;
        z-index: 9999;
    }
    .chart-card__content .content__row .bar::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        animation: 1s loading-pulse alternate;
        animation-iteration-count: infinite;
        z-index: 9999;
    }
    .bullet::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        animation: 1s loading-pulse alternate;
        animation-iteration-count: infinite;
        z-index: 9999;

    } 
    .circle-chart__background {
        
        animation: 1s loading-pulse-stroke alternate;
        animation-iteration-count: infinite;
    }
}

.chart-card:not(.row__header)[data-format*="type2"] {
    font-family: 'Lato';
    position: relative;
    margin: 10px;
    background-color: #f0f0f0;
    width: 100%;
    max-width: 370px;
    height: 400px;
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    .chart-card__content {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & .content__row:nth-child(1) {
            margin-top: 10px;
        } 

        & .content__row:last-child {
            border-bottom: none;
        } 
        
        & .content__row {
            margin: 0px 10px;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            font-size: 14px;
            border-bottom: grey dashed 1px;
            font-size: 18px !important;

            & .content__title {
                display: flex;
                
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                padding: 0px 10px;
                
                & .text {
                    font-size: 14px;
                    font-weight: 400;
                    text-align: left;
                  
                }
                
                & .subtitile {
                    font-weight: 400;
                    font-size: 13px;
                    font-style: italic;
                }
            }

            & .chart-card__content {
                min-width: 100px;
                height: 70px;
            }

            & .circle__result {
                display: flex;
                align-items: center;
                justify-content: center;
                
                & .circle-chart__background {
                    stroke: white;
                    stroke-width: 3px;
                }
                
                & .circle-chart__circle {
                    transform-origin: center;
                    stroke-width: 3px;
                    stroke: #efefef;
                    transition: all 1s ease-out;
                    transform: rotate(-90deg);
                }
                
            }


            & .bar {
                width: 30%;
                text-align: right;
                position: relative;

                & .bar__background {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 4px;
                    background-color: #efefef;

                    & .bar__content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 4px;
                        width: 0;
                        transition: all 1s ease-out;
                    }
                    
                }
            }

            & .perc {
                width: 20%;
            }
        }
    }
    .chart-card__footer {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin: 0px 10px 20px 10px;
        border-top: grey dashed 1px;

        & button {
            background-color: green;
            outline: 0;
            border: 0;
            border-radius: 20px;
            color: white;
            font-size: 12px;
            padding: 6px 15px;

            &:hover {
                background-color: rgb(0, 175, 0);
            }
        }
    }
}

.red {
    background-color: red !important;
}
.green {
    background-color: green !important;
}
.yellow {
    background-color: yellow !important;
}
.orange {
    background-color: orange !important;
}
.dv-lightgreen-bg {
    background-color: rgba(#BEBC46, 0.2) !important;
}
.dv-green-bg {
    background-color: rgba(#767e38, 0.2) !important;
}

.dv-orange-bg {
    background-color: rgba(#bd8338, 0.2) !important;
}
.dv-blue-bg {
    background-color: rgba(#78829b, 0.2) !important;
}

.red-text {
    color: red !important;
}
.green-text {
    color: green !important;
}
.yellow-text {
    color: yellow !important;
}
.orange-text { 
    color: orange !important;
}

.border-red {
    border-color: red !important;
}

.border-yellow {
    border-color: yellow !important;
}

.border-orange {
    border-color: orange !important;
}

.border-green {
    border-color: green !important;
}

.row__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
}
.bullet {
    display: inline-block ;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #efefef;
    border-radius: 100%;
    overflow: hidden;

    .overlay__full {
        height: inherit;
        width: 0;
        position: absolute;
        left: 0;
        top: 0;
        transition: width 0.2s ease-out;
    }
}

.button__modal {
    background-color: white;
    border: 1px solid #78829b;
    border-radius: 10px;
    color: black;
    padding: 2px 10px;
    font-size: 11px;
    font-weight: 400;
    outline: none;

    & a {
        color: black;
        text-decoration: none;
    }

    &:hover {
        background-color: #e2e2e2;
    }
}

.perc__title {
    font-size: 24px;
}

div[data-format*="type2"]:not(.chart-card) {
    .row__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
        text-align: left;
        margin-left: 13px;
    }
    .bullet {
        display: inline-block ;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #efefef;
        border-radius: 100%;
        overflow: hidden;
    
        .overlay__full {
            height: inherit;
            width: 0;
            position: absolute;
            left: 0;
            top: 0;
            transition: width 0.2s ease-out;
        }
    }
    
    .button__modal {
        background-color: white;
        border: 1px solid #78829b;
        border-radius: 10px;
        color: black;
        padding: 2px 10px;
        font-size: 11px;
        font-weight: 400;
        outline: none;
        margin-left: 8px;
    
        & a {
            color: black;
            text-decoration: none;
        }
    
        &:hover {
            background-color: #e2e2e2;
        }
    }
    
    .perc__title {
        font-size: 20px;
    }
}


.circle-chart {
    overflow: visible !important;
    width: 70px;
    height: 70px;
}
.circle-chart__background {
    stroke-width: 2px;
}
.circle-chart__circle {
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
    stroke-width: 2px;
    stroke: white;
    transition: all 1s ease-out;
  }
  .circle-chart__circle_perc {
    position: absolute;
  }
  .circle-chart__percent {
    fill: white;
  }


  @keyframes bar-chart-fill {
    to { width: 30%; }
  }


  
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 200; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes loading-pulse {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #f2f2f2;
    }
  }

  @keyframes loading-pulse-stroke {
    from {
        stroke: #a1a1a1;
    }
    to {
        stroke: #efefef;
    }
  }

  
// \2605 Star